@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');

* {
  padding: 0; margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Merriweather', serif !important;
  background: linear-gradient(90deg, #000 0, #c90c0f 40%, #000 );
  width: 100%; height: 100vh;
  line-height: 1.6 !important;
  font-size: 10px !important;
  position: relative;
}
.container {
  display: flex; justify-content: center; align-items: center; 
  position: absolute; top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}
.row {
  display: flex; justify-content: center;
}
.col-md-6 {
  position: relative; min-width: 27rem !important;
}
.card {
  display: flex; justify-content: center;
  background: rgb(182, 40, 111) !important;
  box-shadow: 0 10px 30px 20px rgba(0, 0, 0, .4);
}
.card-body, .card-header, .card-footer {
  border: none !important; background: none !important;
}
.card-body {
  display: flex; justify-content: center; align-self: center;
}
.card-header {
  text-align: center;
}
.card-header h1 {
  margin: 2rem 0; color: #ccc;
}
.card-footer {
  display: flex; align-items: center;
}
.card-footer ul {
  width: 70%; margin-left: 15%;
}
.card-footer ul li {
  display: flex; 
}
svg:first-of-type {
  margin-left: auto;
}
svg {
  color: bisque;
  font-size: 1.3rem;
}
svg:hover {
  cursor: pointer;
}
ul {
  list-style: none;
}
